<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - The Editorial Archive </title>
    <script type="importmap"></script>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&amp;family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&amp;display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&amp;display=swap" rel="stylesheet" />
    <script id="tailwind-config">
        tailwind.config = {
        darkMode: "class",
        theme: {
        extend: {
        "colors": {
        "surface-container": "#edeeea",
        "surface-bright": "#f9faf6",
        "on-tertiary-container": "#95aecf",
        "tertiary": "#102c46",
        "surface-variant": "#e2e3df",
        "on-secondary-fixed": "#101b30",
        "inverse-primary": "#81d9a1",
        "on-error": "#ffffff",
        "on-primary": "#ffffff",
        "tertiary-fixed": "#d1e4ff",
        "inverse-surface": "#2e312f",
        "surface": "#f9faf6",
        "on-tertiary": "#ffffff",
        "on-secondary-fixed-variant": "#3c475d",
        "on-primary-fixed": "#002110",
        "surface-container-high": "#e7e9e5",
        "on-secondary": "#ffffff",
        "secondary-fixed": "#d7e2ff",
        "background": "#f9faf6",
        "inverse-on-surface": "#f0f1ed",
        "primary-fixed": "#9df5bc",
        "primary": "#00321a",
        "tertiary-container": "#28425e",
        "error-container": "#ffdad6",
        "secondary": "#545e76",
        "outline-variant": "#c0c9be",
        "secondary-fixed-dim": "#bbc6e2",
        "primary-container": "#004b2a",
        "on-surface": "#1a1c1a",
        "on-primary-container": "#67bd88",
        "surface-container-low": "#f3f4f0",
        "on-error-container": "#93000a",
        "surface-container-highest": "#e2e3df",
        "on-tertiary-fixed": "#001d36",
        "on-tertiary-fixed-variant": "#2f4865",
        "secondary-container": "#d7e2ff",
        "surface-container-lowest": "#ffffff",
        "on-surface-variant": "#404941",
        "error": "#ba1a1a",
        "tertiary-fixed-dim": "#afc9ea",
        "outline": "#707970",
        "on-secondary-container": "#5a647c",
        "primary-fixed-dim": "#81d9a1",
        "on-primary-fixed-variant": "#00522e",
        "on-background": "#1a1c1a",
        "surface-tint": "#046d3f",
        "surface-dim": "#d9dad7"
        },
        "borderRadius": {
        "DEFAULT": "0.125rem",
        "lg": "0.25rem",
        "xl": "0.5rem",
        "full": "0.75rem"
        },
        "fontFamily": {
        "headline": [
        "Noto Serif"
        ],
        "body": [
        "Manrope"
        ],
        "label": [
        "Manrope"
        ]
        }
        },
        },
        }
    </script>
   
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        
        <partial name="_Nav" />

    </header>
   
    <main role="main" class="pt-32 pb-20 px-6 md:px-12 max-w-7xl mx-auto ">
            @RenderBody()
        </main>
    

    <partial name="_Footer" />
   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
