<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - The Editorial Archive </title>
    <script type="importmap"></script>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
    
    @* <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
     *@
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&amp;family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&amp;display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&amp;display=swap" rel="stylesheet" />
    <script id="tailwind-config">
        tailwind.config = {
        darkMode: "class",
        theme: {
        extend: {
        "colors": {
        "outline": "#707970",
        "on-primary-container": "#67bd88",
        "surface-container-high": "#e7e9e5",
        "primary": "#00321a",
        "on-tertiary-container": "#95aecf",
        "secondary-container": "#d7e2ff",
        "tertiary": "#102c46",
        "surface-container-lowest": "#ffffff",
        "primary-fixed-dim": "#81d9a1",
        "surface-tint": "#046d3f",
        "on-background": "#1a1c1a",
        "surface-dim": "#d9dad7",
        "on-tertiary-fixed-variant": "#2f4865",
        "on-secondary-fixed-variant": "#3c475d",
        "on-secondary": "#ffffff",
        "tertiary-fixed-dim": "#afc9ea",
        "surface-container-highest": "#e2e3df",
        "on-secondary-container": "#5a647c",
        "secondary-fixed-dim": "#bbc6e2",
        "inverse-primary": "#81d9a1",
        "on-error": "#ffffff",
        "on-primary-fixed": "#002110",
        "tertiary-container": "#28425e",
        "surface-container-low": "#f3f4f0",
        "on-tertiary": "#ffffff",
        "on-secondary-fixed": "#101b30",
        "secondary": "#545e76",
        "on-tertiary-fixed": "#001d36",
        "on-surface": "#1a1c1a",
        "error-container": "#ffdad6",
        "error": "#ba1a1a",
        "surface-bright": "#f9faf6",
        "surface": "#f9faf6",
        "surface-variant": "#e2e3df",
        "outline-variant": "#c0c9be",
        "on-primary-fixed-variant": "#00522e",
        "on-primary": "#ffffff",
        "primary-container": "#004b2a",
        "on-error-container": "#93000a",
        "background": "#f9faf6",
        "primary-fixed": "#9df5bc",
        "on-surface-variant": "#404941",
        "inverse-on-surface": "#f0f1ed",
        "secondary-fixed": "#d7e2ff",
        "inverse-surface": "#2e312f",
        "tertiary-fixed": "#d1e4ff",
        "surface-container": "#edeeea"
        },
        "borderRadius": {
        "DEFAULT": "0.125rem",
        "lg": "0.25rem",
        "xl": "0.5rem",
        "full": "0.75rem"
        },
        "fontFamily": {
        "headline": ["Noto Serif"],
        "body": ["Manrope"],
        "label": ["Manrope"]
        }
        },
        },
        }
    </script>
    <style>
    main{
        max-width : 100vw !important;
    }
    </style>
    <style>
        .material-symbols-outlined {
        font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
        }
        body {
        background-color: #f9faf6;
        color: #1a1c1a;
        font-family: 'Manrope', sans-serif;
        }
        .serif-text { font-family: 'Noto Serif', serif; }
        .glass-header {
        background: rgba(249, 250, 246, 0.8);
        backdrop-filter: blur(20px);
        }
    </style>
    <style>
        body {
        min-height: max(884px, 100dvh);
        }
    </style>
   
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        
        <partial name="_Nav" />

    </header>
   
    <main role="main" class="pt-24 md:pt-32 pb-16 md:pb-20 px-4 sm:px-6 md:px-12 max-w-7xl mx-auto">
        @RenderBody()
    </main>
    

    <partial name="_Footer" />
   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>
